<template name="categoryList">
  <div class="categories">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
      Manage Categories
    </button>
    <div class="collapse" id="collapseCategories">
      <div class="well">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control error" id="category-name" placeholder="r/funny">
              <span class="input-group-btn">
                <button class="btn btn-default add-category" type="button">Add!</button>
              </span>
            </div>
          </div>
        </div>
        <ul class="list-group">
        {{ #each categories }}
          <li class="list-group-item">
              <input class="category-item" type="checkbox" checked={{this.active}}> {{ this.name }}
          </li>
        {{ /each }}     
        </ul>
      </div>
    </div>
  </div>
</template>