<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Daily Articles</a>
      <a class="navbar-brand" href="#aboutModal" data-toggle="modal">About</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
        <p>
          My first app built on top of <a href="https://meteor.com" target="_blank">MeteorJS</a>. Idea is to integrate various providers and feed user with articles based on selected category.
        </p>
        <p>
           Currently only reddit is integrated, user can add subreddits and get articles manually by clicking "Feed me from Reddit!" or visit site from time to time and see if there are new articles (every 4 hours new posts with 6 or more upvotes are fetched).
           "Feed me from System" is showing only articles that are in app db.
        </p>
         <p>
           Have any ideas or feedback, feel free to reach me at <a href="mailto:contact@jasenko.me">contact@jasenko.me</a>. Check out the source code on <a href="https://github.com/jasenkoh/daily-articles">GitHub</a>. 
         </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>