<template name="articleList">  
  {{ #if articlesReady }}  
    {{ >categoryList }}

    <h1>Articles</h1>
    <ul class='list-group'>
      {{ #each articles }}
        <li class='list-group-item'>
          <span class="badge">{{ this.category.name }}</span>
          {{ this.title }}
          <p>
            <a href='{{ this.url }}' target='_blank' class='visit-article'>
              Check it out
            </a>
          </p>
        </li>
      {{ /each }}
    </ul>
    {{ else }}
      {{ >appLoading }}
    {{ /if }}
</template>