<template name="articleList">
  <div class='main-articles'>
    {{ #if loading }}
      {{ >appLoading }}
    {{ else }}
      <button type="button" class="btn btn-success update-list">Get from System</button>
      <button type="button" class="btn btn-primary feed-user">Feed me from Reddit!</button>

      <div class="panel-group list-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ #each categories }}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-{{_id}}">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                  {{ name }} | {{countItems this.name}}
                </a>
                <span>
                  <a href="#" class="pull-right dismiss-all">
                    Dismiss all
                  </a>
                </span>
              </h4>
            </div>
            <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-{{_id}}">
              <div class="panel-body">
                <div clas="items">
                  {{ #each articles }}
                    {{ #if $eq ../name category.name}}
                      {{#each userArticles}}
                        {{#if $eq ../_id articleId}}
                        <div class="post clearfix" style="top: 0px">
                          {{ #if seen }}
                          <div class="seen">
                            <span class="glyphicon glyphicon-eye-open" title="Article Seen" aria-hidden="true"></span>
                          </div>
                          {{ else }}
                          <div class="seen">
                            <span class="glyphicon glyphicon-eye-close" title="Article Not Seen" aria-hidden="true"></span>
                          </div>
                          {{ /if }}
                          <div class="post-content">
                            <h3><a href="{{ ../url }}" target='_blank' class='visit-article'>{{ ../title }}</a></h3>
                            <p>
                              {{ ../score }} Votes
                            </p>
                          </div>
                          <a href="#" class="dismiss-article btn btn-default">Dismiss</a>
                        </div>
                        {{/if}}
                        {{/each}}
                      {{ /if }}
                  {{ /each }}
                </div>
              </div>
            </div>
          </div>
        {{ /each }}
      </div>
    {{ /if }}
  </div>
</template>
