<template name="articleList">  
  {{ #if loading }}
    {{ >appLoading }}  
  {{ else }}
    <h1>Articles</h1>
    <button type="button" class="btn btn-success update-list">Update List</button>
    
    <div class="panel-group list-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{ #each categories }}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="panel-{{_id}}">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
                {{ name }} | {{countItems this.name}}
              </a>
              <span>
                <a href="#" class="pull-right dismiss-all">
                  Dismiss all
                </a>
              </span>
            </h4>
          </div>
          <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-{{_id}}">
            <div class="panel-body">
              <ul>
                {{ #each articles }}
                  {{ #if $eq ../name category.name}}
                    <li class='list-group-item'>
                      <span class="badge">{{ category.name }}: {{ score }}</span>
                      {{ title }}
                      <p>
                        <a href='{{ url }}' target='_blank' class='visit-article'>
                          Check it out
                        </a> | 
                        <a href='#' class='visit-article'>
                          Dismiss
                        </a>
                      </p>
                    </li>
                  {{ /if }}
                {{ /each }}
              </ul>
            </div>
          </div>
        </div>
      {{ /each }}
    </div>
  {{ /if }}
</template>